
<div class="job-recommender_container">
    <h3 class="job-recommender_innerheader">"Upload your resume let our recommender engine suggest jobs 
        from current openings"</h3>
        <!-- <div class="container"> -->
            <div class="row">
                <div class="vl">
                <div class="col">
                    <!-- <div class="col-md-6 offset-sm-2 col-md-6 offset-md-0"> -->
                  
                <div class="job-recommender_block">
                    <div class="headerBlock">
                        <h3>Job Recommender</h3>
             
            <div>
                <form>
                    <div style="position: relative;">
                        <input type="text" name="fillUploadJob" class="job-recommender_formcontrol" readonly value>
                        <div class="job-recommender-fillUploadButton">
                            <label for="upload-button">
                                <img src="/assets/images/fileUpload.svg">

                            </label>
                            <input type="file" id="upload-button" class="d-none" accept=".doc,.docx,.txt">

                        </div>

                    </div>
                </form>
            </div>
            <div class="doc_block">
                <p> For best results, upload *.doc/*.docx/*.pdf/*.txt format files only (File size should be &lt; 2MB)</p>
            </div>
            <div class="job-recommender_button">
                
                
                
            <button type="button" disabled="job-recommender_button.invalid" class="btn btn-primary">Recommend</button>
         
        </div>
   
          
    </div>
    
    
   
</div>
</div>
        </div>
        
       
    <!-- </div> -->
        <div class="col">
            <!-- <div class="col-md-6 offset-sm-2 col-md-6 offset-md-0"> -->
          
        <div class="job-recommender_content">
            <div class="contentTitle">How Job Recommender works?
            </div>
                <div class="subcontent">
                    <p class="contentsub">The job recommender is an AI powered feature which 
                        suggests job opportunities based on your resume.</p>
                        <p class="contentsub">You just need to upload your resume and our recommender 
                            engine will scan your resume and suggest suitable job opportunities for you.

                        </p>
                </div>
            </div>
        </div>
      
    </div>
    </div>
 
