
<div class="header">
    <img src="/assets/images/logo.png" alt="Happiest Minds Logo"> 
   
       <!-- <span style="line-height: 65px;">|</span> -->
       <span style="margin-left:30px;">|</span>

    <span style="margin-left: 40px; font-weight: bold;" class="">Careers</span>

    <div class="header-right">
        <a class="active" href="home">Home<span style="margin-left:14px;">|</span></a> 
        <a href="currentopenings">Current Openings<span style="margin-left:14px;">|</span></a>
        <a href="benefits">Benefits<span style="margin-left:14px;">|</span></a>
        <a href="life@work">Life@Work<span style="margin-left:14px;">|</span></a>
        <a href="companywebsite" style="background-color: white; padding: 5px;"  class="btn btn-outline-dark">COMPANY WEBSITE</a>
      </div>

</div>
<router-outlet></router-outlet>
