<div style="width: 100%;" class="Toastify">
  <!-- <--firstone--> 
<main class="layout_pageContainer">
    <div class="container" style="background-color: rgb(238, 238, 238);">
        <div class="undefined pt-4 pb-4">
            <h3 class="job-list_innerHead">Current Openings</h3>
            <div class="job-search_jobSearch mt-2 row">
                <div class="job-search_searchContainer col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="pb-4 form-group">
                        <div class="rbt" tabindex="-1" style="outline: none; position: relative;">
                            <div style="display: flex; flex: 1 1 0%; height: 100%; position: relative;">
                                <input autocomplete="off" placeholder="Search jobs" type="text" aria-autocomplete="both" aria-expanded="false" aria-haspopup="listbox" role="combobox" class="rbt-input-main form-control rbt-input form-control-lg" value="">
                                <input aria-hidden="true" class="rbt-input-hint" readonly="" tabindex="-1" value="" style="background-color: transparent; border-color: transparent; box-shadow: none; color: rgba(0, 0, 0, 0.35); left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; border-style: none none solid; border-width: 0px 0px 1px; font-size: 14px; height: 37px; line-height: 21px; margin: 0px; padding: 0px 12px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="job-search_searchContainer col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <select name="experience" class="job-search_dropdown form-control">
                        <option value="">Select Experience</option>
                      
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <div class="job-search_searchContainer mt-5 mt-sm-0 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <select name="location" class="job-search_dropdown form-control">
                        <option value="">All Locations</option>
                        <option value="BANGALORE">BANGALORE</option>
                        <option value="CHENNAI">CHENNAI</option>
                        <option value="PUNE">PUNE</option>
                        <option value="Dubai">Dubai</option>
                        <option value="US">US</option>
                    </select>
                </div>
                <div class="job-search_searchContainer d-none d-sm-block col-xl-1 col-lg-1 col-md-1 col-sm-6 col-6">
                    <button id="Search" type="submit" class="job-search_searchBtn">
                        <img src="/assets/svg/search.svg" alt="" class="job-search_searchSVG">
                    </button>
                </div>
                <div class="job-search_searchContainer d-block d-sm-none mt-5 mt-sm-0 col-xl-1 col-lg-1 col-md-1 col-sm-6 col-6">
                    <button id="Search" type="submit" class="job-search_searchBtn">
                        <img src="/assets/svg/search.svg" alt="" class="job-search_searchSVG"> SEARCH</button>
                    </div>
                    <div class="mt-5 mt-sm-0 col-xl-1 col-lg-1 col-md-1 col-sm-6 col-6"><button id="reset" type="submit" class="job-search_resetBtn">RESET</button>
                    </div>
                </div>
                <div class="undefined mt-5 mb-5 row">
                    <div class="pl-4 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                        <b>0</b> jobs found <b></b>
                    </div>
                    <div class="mt-4 mt-sm-0 col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
                        <select name="order" class="job-search_dropdown form-control">
                            <option value="DESC">Most recent first</option>
                            <option value="ASC">Most recent last</option>
                        </select>
                    </div>
                </div>
                <div class="ml-0 mr-0 row"><div class="animate__animated animate card-columns">

                </div>
            </div>
            <div class="mt-4 mb-4 ml-0 mr-0 row"><ul class="cp-pagination_pagination pagination">

            </ul>
        </div>
    </div>
</div>
</main>
</div>
